<div class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
        @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav mr-auto">
                <li>@Html.ActionLink("All Customers", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("All Movies", "Index", "Movies", new { area = "" }, new { @class = "navbar-brand" })</li>
            </ul>
            @Html.Partial("_LoginPartial")

        </div>   
    </div>
 
</div>
    
